.transition-enter {
    // transform: translatey(-100vw);
    opacity: 0;
    z-index: 1;
}

.transition-enter .transition-enter-active {
    // transform: translatey(0vw);
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.transition{
    background: yellow;
}