/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: flex;
  background-color: black;
  padding: 10px;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header {
    flex-direction: column-reverse;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}
.header__cover {
  width: 30%;
  margin-right: 20%;
  text-align: center;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__cover {
    width: 100%;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .header__cover {
    width: 100%;
  }
}
.header__title {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  margin: 10px;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__title {
    font-size: 20px;
    text-align: center;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .header__title {
    font-size: 20px;
    text-align: center;
  }
}
.header__nav {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__nav {
    width: unset;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .header__nav {
    width: 100%;
    margin-top: 20px;
  }
}
.header__nav__menu {
  cursor: pointer;
  display: none;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__nav__menu {
    display: block;
    position: relative;
    left: 41%;
    top: 0;
  }
}
.header__nav__menu div {
  width: 32px;
  height: 2px;
  background: #FFF;
  margin: 8px;
}
.header__nav__list {
  width: 50%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__nav__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 25px;
    text-align: center;
    top: -100vh;
    position: absolute;
    justify-content: space-around;
    opacity: 0;
    transition: 0.5s ease;
  }
}
.header__nav__list li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  transition: 0.5s;
  color: #FFF;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__nav__list li {
    margin: 10px;
  }
}
.header__nav__list li a:hover {
  color: #7d7d7d;
}
@media (min-width: 280px) and (max-width: 415px) {
  .header__nav__list.active {
    display: flex;
    opacity: 1;
    border-bottom: 1px solid #F0F0F0;
    border-radius: 0px 0px 10px 10px;
    top: 49px;
    transition: 0.5s ease;
    background: #000;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 61vh;
  background-color: #e0e0e0;
  flex-direction: column;
}
.home__img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__img img {
  border-radius: 50%;
  width: 40%;
}
@media (min-width: 280px) and (max-width: 415px) {
  .home__img img {
    margin-bottom: 30px;
  }
}
@media (min-width: 280px) and (max-width: 415px) {
  .home__img {
    flex-direction: column;
  }
}
.home__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
@media (min-width: 280px) and (max-width: 415px) {
  .home__title {
    font-size: 30px;
  }
}
.home__sub {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
}
.home__contact {
  margin-top: 30px;
}
.home__contact h3 {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
@media (min-width: 280px) and (max-width: 415px) {
  .home__contact h3 {
    font-size: 20px;
  }
}
.home__contactCover {
  display: flex;
  margin-top: 20px;
}
.home__contactCover img {
  width: 50%;
}
.home__contactCover a {
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 61vh;
  background-color: #e0e0e0;
}
@media (min-width: 280px) and (max-width: 415px) {
  .about {
    flex-direction: column;
    height: 65vh;
  }
}
.about__cover {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 280px) and (max-width: 415px) {
  .about__cover {
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 280px) and (max-width: 415px) {
  .about__cover {
    width: 100%;
  }
}
.about img {
  border-radius: 10px;
}
@media (min-width: 540px) and (max-width: 1024px) {
  .about img {
    width: 100%;
  }
}
.about__coverTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10%;
}
.about__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 280px) and (max-width: 415px) {
  .about__title {
    font-size: 30px;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .about__title {
    font-size: 20px;
  }
}
.about__info {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
@media (min-width: 280px) and (max-width: 415px) {
  .about__info {
    width: 100%;
    margin-top: 10px;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .about__info {
    width: 100%;
    margin-top: 10px;
  }
}
.about__info p {
  line-height: 1.3em;
  font-size: 20px;
  letter-spacing: 1px;
  margin-left: 10px;
}
@media (min-width: 280px) and (max-width: 415px) {
  .about__info p {
    font-size: 10px;
    letter-spacing: 0px;
  }
}
@media (min-width: 540px) and (max-width: 1024px) {
  .about__info p {
    font-size: 15px;
    letter-spacing: unset;
  }
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  height: 61vh;
  background-color: #e0e0e0;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  margin-top: 5%;
}
.portfolio__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 2%;
}
.portfolio__cover {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 94vw;
}
.portfolio__cover figure {
  width: 100%;
  margin-right: 5%;
}
@media (min-width: 280px) and (max-width: 415px) {
  .portfolio__cover {
    align-content: space-between;
  }
}
.portfolio__cover::-webkit-scrollbar {
  display: none;
}
.portfolio__img {
  height: 35vh;
}
@media (min-width: 280px) and (max-width: 415px) {
  .portfolio__img {
    width: 100%;
  }
}
.portfolio__icons {
  display: flex;
  justify-content: center;
}
.portfolio__icons img {
  background-color: #FFF;
  border-radius: 30px;
  margin-right: 5px;
}
@media (min-width: 280px) and (max-width: 415px) {
  .portfolio__icons img {
    background-color: unset;
    width: 28px;
    border: none;
  }
}
.portfolio__subTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}
@media (min-width: 280px) and (max-width: 415px) {
  .portfolio__subTitle {
    font-size: 20px;
  }
}
.portfolio__links {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.portfolio__links a {
  margin-top: 10px;
  text-decoration: none;
  background-color: white;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px;
  width: 30%;
  border-radius: 10px;
  border: 1px solid #000;
  transition: 0.5s;
}
@media (min-width: 280px) and (max-width: 415px) {
  .portfolio__links a {
    font-size: 10px;
  }
}
.portfolio__links a:hover {
  border: 1px solid #FFF;
  background-color: #000;
  color: #fff;
}
.portfolio__buttons {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.portfolio__buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.portfolio__right {
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
